<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwV3RvYi60tZrcUvDu22zdGkdaYtNEASk</string>
	<key>GCM_SENDER_ID</key>
	<string>175702299790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plusfitness.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>plusfitness</string>
	<key>STORAGE_BUCKET</key>
	<string>plusfitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175702299790:ios:87d0bf064c25c15f80e5df</string>
</dict>
</plist>